@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;1,200&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,200&display=swap');

.bodyPag{
    background-image: url("../img/fondoverd.jpeg");
}

.logonav {
    width: 60px;
    padding: 0px;
    margin: 0%;
    margin-left: -50%;
    display: flex;
    justify-content: flex-start;
}

.navbar {
    background-color: black;
    max-width: 100%;
    margin: 0px;
}

.carritoIcono{
    margin-right: 10px;
}

.tittleprod {
    color:white;
    background-color: rgba(52, 153, 52, 0.697);
    font-family: 'Montserrat', sans-serif;  
    font-weight: 800;
    font-size: 1.5rem;
    margin-block: 40px;
    display: flex;
    justify-content: center;
}

.imgProd{
    width: 400px;
    border-radius: 8px;
}
.nombreProd{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
}
.precioProd{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
}
.botonAgregar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.774);
    display: flex;
    justify-content: center;
    margin-inline: 100px;
    border-radius: 10px;
}
#listaProductos{
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;
    margin-block: 100px;
}


.card-prod{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.659);
    border-radius: px;

}

.contenedorFooter{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.557);
    display: flex;
    justify-content: center;
  
}
.infoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.direccionFooter{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}
.whatsappFooter{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.661);
    display: flex;
    justify-content: center;
}
.horariosFooter{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.696);
    display: flex;
    justify-content: center;
}